# Editor
.vscode/

# Python
.venv
__pycache__/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example

# Frontend
node_modules/
dist/

# Custom
*.env
backup/